extends ../layout

block content
  .page-header
    h1 Reserva ##{reserva.id}
    .actions
      a.btn.btn-secondary(href=`/reservas/${reserva.id}/edit`) Editar
      button.btn.btn-danger(onclick=`deleteItem('/reservas/${reserva.id}', 'Remover esta reserva?')`) Remover
      a.btn.btn-primary(href='/reservas') Voltar
  
  .card
    .detail-item
      span.detail-label Data e Hora
      span.detail-value= new Date(reserva.data_hora).toLocaleString('pt-PT')
    
    .detail-item
      span.detail-label Cliente
      span.detail-value= reserva.cliente_nome + ' (' + reserva.cliente_email + ')'
    
    .detail-item
      span.detail-label Barbeiro
      span.detail-value= reserva.barbeiro_nome
    
    .detail-item
      span.detail-label Serviço
      span.detail-value= reserva.servico_nome + ' - ' + reserva.duracao_min + 'min - €' + reserva.preco
    
    .detail-item
      span.detail-label Estado
      span.detail-value= reserva.estado
    
    .detail-item
      span.detail-label Observações
      span.detail-value= reserva.observacoes || 'Sem observações'
